# Rust
target/
**/target/

# Node
node_modules/
**/node_modules/
app/dist/

# Datos locales de prueba / identidad
*.automerge
identity.key

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
